<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/html/games/snake/snake.css">
</head>

<body>
	<div class="menu">
		<BUTTON onclick="newGame()">New Game</BUTTON><br>
		<label id="score">Score: 0</label><br>
		<label id="hscore">High Score <%= highS%> </label>
	</div>

	<div id="animation">
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script src="/html/games/snake/snakeCode.js"></script>

</body>
</html>