<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/base.css">
</head>

<body>
	<h2>Welcome to your Page</h2><br>
	<div class="logout"><b><a href="/">Log Out</b></a></div>

	<h4>This is Your Personalised Page</h4>
	<p><B>Name:</B> <%= user%></p>

</body>
</html>