<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/base.css">
</head>
<body>
	<div class="header">

		<div class="user"><a href=<%= page%>><%= message%></a>
			<a href="/" style="visibility:hidden;">Logout</a>
		</div>
	</div>

	<div class="content">

		<h2>Hello this is Mateo's Website
		</h2>

		<a href="movies">Movies</a>
		<a href="games">Games</a>

	</div>

</body>
</html>