<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div><h1>Login Page</h1>
	</div>
	<div>
		<form action='/login' method='post'>
			<input type="textbox" value="username" name="username"><br>
			<input type="password" value='Password' name="password"><br>
			<BUTTON>Login</BUTTON>
		</form>
	</div>

 </body>
</html>

